In [32]:
def greet():
    print('hello')
    print('good morning') 
greet()

def greet():
    print('hello')
    print('world is beautiful') 
greet()

def greet():
    print('hello')
    print('python') 
greet()

hello
good morning
hello
world is beautiful
hello
python

In [34]:
def greet():
    print('hello')
    print('good morning') 
greet()

greet()

greet()

hello
good morning
hello
good morning
hello
good morning

In [40]:
def add(x,y):
    c=x+y
    print(c)
add(14,8)

22

In [42]:
def add(x,y,z):
    c=x+y+z
    print(c)
add(14,8,0)

22

In [44]:
def greet():
    print('hello')
    print('gd')
greet()

hello
gd

In [46]:
def greet():
    print('hello')
    print('gd')

def add(x,y):
    c=x+y
    print(c)
    
add(14,8)
greet()

22
hello
gd

In [49]:
def sub(x,y):
    d = x-y
    print(d)

In [53]:
def sub(x,y):
    d = x-y
    print(d)
sub(5,4)

1

In [75]:
def greet():
    print('hello')
    print('good noon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good noon
12

In [77]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e=x*y
    f= x/y
    g = x**y
    print (c, d)
    
add_sub(4,5)

9 -1

In [73]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e=x*y
    f= x/y
    g = x**y
    print(c, d,e,f,g)
    
add_sub(4,5)

9 -1 20 0.8 1024

In [79]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c,d 
    
add_sub(4,5)

(9, -1)

In [89]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [91]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [93]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [95]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [99]:
def bmw(x):  
    x = 8
    print(x)
    
a = 10
bmw(a)
print(a)

8
10

# formal argument

In [140]:
class nit:
     
    def add(a,b): # a & b called formal argument
        c = a + b
        print(c) 
nit.add(5,6) #5 and 6 we called as actual argument

11

In [146]:
# actual argument
# positional argument
#keyword argument
#variable lenght
#default

In [148]:
def person(name,age):
    print(name)
    print(age)

person('nit',25)

nit
25

In [150]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'nit')

22
nit

In [152]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'