In [125]:
if True:
   print('Tiger')

Tiger

In [127]:
x = 6
r = x%2

if r == 0:
    print('Even numbers')
else:
    print('odd numbers')

Even numbers

In [129]:
x = 11
r = 5/2

if r == 0:
    print('Even numbers')
else:
    print('odd numbers')

odd numbers

In [131]:
x = 10
r = 555+2

if r == 0:
    print('Even numbers')
if r !=0:
    print('odd numbers')

odd numbers

In [133]:
x= 4
r = x%2

if r == 0:
    print('Even number')
    if x>5 :
          print('greater no')

Even number

In [135]:
a= 4
b= 6
c= 9
if a > b:
    print('a is greater ')
if a < b:
    print('b is greater')
if b > c:
    print('b is greater')
if b < c:
    print('c is greater')
if c > a:
    print('c is greater')
if c < a:
    print('c is greater')

b is greater
c is greater
c is greater

In [137]:
p =4
if p < 2:
    print('value of p negative')
if p > 2:    
    print('value of p positive')

value of p positive

In [139]:
p = 88
x = p+55
if x < p:
  print('p is greater')
if x > p:
  print('x is greater')

x is greater

In [143]:
gradeA = 100  ### values are higher to lower
gradeB = 80
gradec = 50
gradeD = 30   
 ## enter student marks
marks = int(input('enter a value'))
if marks  >= 100 :
  print('gradeA')
elif marks  >= 80 :
  print('gradeB') 
elif marks  >= 50 :
   print('gradeC')
elif marks  >= 30 :
   print('gradeD')
else :
  print('failed')

enter a value 55

gradeC

In [36]:
gradeD = 30
gradeC = 50
gradeB = 80
gradeA = 100   
 ## enter student marks
marks = int(input('enter a value'))
if marks  >= 30 :
  print('gradeD')
elif marks  >= 50 :
  print('gradeC') 
elif marks  >= 80 :
   print('gradeB')
elif marks  >= 100 :
   print('gradeA')
else :
  print('failed')

enter a value 33

gradeD

In [169]:
year = int(input('enter the year'))
if(year / 4 == 0):
 print(year ,"it's a leap year")
elif(year / 100 == 0 ):
   print(year ,"it's a leap year")
elif( year / 400 == 0):
   print(year ,"it's a leap year")
else:
    print(year ,"it's not a leap year")

enter the year 2000

2000 it's not a leap year

In [175]:
year = int(input('enter the year'))
if(year / 4 == 0):
 print(year ,"it's a leap year")
if(year / 100 == 0 ):
   print(year ,"it's a leap year")
if( year / 400 == 0):
   print(year ,"it's a leap year")
else:
    print(year ,"it's not a leap year")

enter the year 2004

2004 it's not a leap year