In [68]:
import pandas as pd
import numpy as np
arrays =[["bar","bar","baz","foo","qux","qux"],
        ["one","two","one","two","one","two"]]

In [70]:
tuples =list(zip(*arrays))

In [72]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [74]:
index = pd.MultiIndex.from_tuples(tuples,names =["first","second"])

In [76]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [86]:
s = pd.Series(np.random.randn(6), index=index)

In [88]:
s

first  second
bar    one      -1.118711
       two      -0.666143
baz    one       0.852830
foo    two      -0.057932
qux    one      -0.728781
       two       2.410736
dtype: float64

In [92]:
iterables =[["bar", "baz", "foo", "qux"], ["one", "two"]] 
pd.MultiIndex.from_product(iterables, names=["first","second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [106]:
df = pd.DataFrame( 
    [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
    columns=["first", "second"],
)

In [108]:
df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [110]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [112]:
arrays =[["bar","bar","baz","foo","qux","qux"],
        ["one","two","one","two","one","two"]]

In [116]:
s = pd.Series(np.random.randn(6), index=arrays)
s

bar  one    0.594299
     two   -1.333943
baz  one   -1.271325
foo  two   -0.647886
qux  one   -0.367417
     two    0.581803
dtype: float64

In [136]:
s = pd.DataFrame(np.random.randn(6,4), index=arrays)
s

                0         1         2         3
bar one  1.010583  2.938888 -1.466167 -1.337950
    two -0.196990  2.393486 -0.815312 -0.070196
baz one  0.096884 -1.656897  0.713351  1.366790
foo two -1.320101  0.820690 -0.774220 -1.384163
qux one -0.975495  0.776955  0.953288 -1.150571
    two  1.734974  0.963609  0.487100 -0.355615

In [146]:
df.index.names

FrozenList([None])

In [154]:
df = pd.DataFrame(np.random.randn(3,6), index=["a","b","c"],columns= index)
df

first        bar                 baz       foo       qux
second       one       two       one       two       one       two
a      -0.328627 -0.761288  0.229731 -0.581383  0.973593  0.777456
b       0.392006  0.919139 -1.290225  0.134953 -1.563179 -0.775245
c      -2.576202 -0.726268 -0.815130  0.341706  0.167011  1.616810

In [156]:
pd.DataFrame(np.random.randn(3,6), index=["a","b","c"],columns= index[:6])

first        bar                 baz       foo       qux
second       one       two       one       two       one       two
a      -1.368688  1.250968 -0.292692 -0.849619 -1.096006 -0.474545
b       0.159997 -0.089504  0.188166 -0.833463 -0.305982  0.361461
c      -1.466863 -1.352481 -0.548490  0.422366 -1.568742 -0.849018

In [158]:
with pd.option_context("display.multi_sparse", False):
    df

In [162]:
pd.Series(np.random.randn(6), index=tuples)

(bar, one)    1.065696
(bar, two)   -0.278590
(baz, one)    1.761682
(foo, two)    0.571765
(qux, one)    1.531877
(qux, two)   -1.815821
dtype: float64

In [166]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [168]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [170]:
df["bar"]

second       one       two
a      -0.328627 -0.761288
b       0.392006  0.919139
c      -2.576202 -0.726268

In [172]:
df["bar","one"]

a   -0.328627
b    0.392006
c   -2.576202
Name: (bar, one), dtype: float64

In [174]:
df["bar"],["one"]

(second       one       two
 a      -0.328627 -0.761288
 b       0.392006  0.919139
 c      -2.576202 -0.726268,
 ['one'])

In [176]:
s["qux"]

second       one       two
a       1.288255 -0.254211
b       0.712662 -0.644130
c      -1.768986 -0.705173

In [178]:
df.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [180]:
df[["foo","qux"]].columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [182]:
df[["foo","qux"]].columns.to_numpy()

array([('foo', 'two'), ('qux', 'one'), ('qux', 'two')], dtype=object)

In [190]:
df[["foo","qux"]].columns.get_level_values(1)

Index(['two', 'one', 'two'], dtype='object', name='second')

In [194]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

In [196]:
#reindex

In [215]:
s +s[:-2]

first        bar                 baz       foo       qux
second       one       two       one       two       one       two
a       0.912249 -1.736018 -1.855484 -2.713176  2.576511 -0.508423
b            NaN       NaN       NaN       NaN       NaN       NaN
c            NaN       NaN       NaN       NaN       NaN       NaN

In [250]:
s + s[:2]

first        bar                 baz       foo       qux
second       one       two       one       two       one       two
a       0.912249 -1.736018 -1.855484 -2.713176  2.576511 -0.508423
b      -3.865914  0.877869 -0.987231  0.723646  1.425325 -1.288260
c            NaN       NaN       NaN       NaN       NaN       NaN

In [252]:
s.reindex(index[:3])

first        bar     baz foo qux
second       one two one two one two
first second
bar   one    NaN NaN NaN NaN NaN NaN
      two    NaN NaN NaN NaN NaN NaN
baz   one    NaN NaN NaN NaN NaN NaN

In [ ]:
s.reindex([("foo","two"])