In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
import math

In [2]:
v =np.array([1,2,3,4,5])
s1 =pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [3]:
s1.dtype

dtype('int32')

In [4]:
s1.itemsize

AttributeError: 'Series' object has no attribute 'itemsize'

In [ ]:
s1.shape

In [ ]:
s1.nbytes

In [ ]:
s1.ndim

In [ ]:
len(s1)

In [10]:
s1.count()

5

In [12]:
s1.size

5

In [14]:
 s0 = pd.Series([1,2,3], index = ['a','b','c'])
 s0

a    1
b    2
c    3
dtype: int64

In [16]:
n =np.array(['a','b','c','d','e'])
s1.index = n
s1

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [18]:
v =np.random.random(10)
ind =np.arange(0,10)
s =pd.Series(v,ind)
v

array([0.41345488, 0.36929281, 0.15942628, 0.13045786, 0.05158578,
       0.11771942, 0.85979784, 0.97209954, 0.65209375, 0.40015992])

In [20]:
ind, v

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([0.41345488, 0.36929281, 0.15942628, 0.13045786, 0.05158578,
        0.11771942, 0.85979784, 0.97209954, 0.65209375, 0.40015992]))

In [22]:
dict ={'a1':10,'b1':20,'c1':30,'c1':40}
s3 = pd.Series(dict)
s3

a1    10
b1    20
c1    40
dtype: int64

In [24]:
pd.Series(99,index =[0,1,2,3])

0    99
1    99
2    99
3    99
dtype: int64

In [26]:
# slicing series

In [28]:
s

0    0.413455
1    0.369293
2    0.159426
3    0.130458
4    0.051586
5    0.117719
6    0.859798
7    0.972100
8    0.652094
9    0.400160
dtype: float64

In [30]:
s[:]

0    0.413455
1    0.369293
2    0.159426
3    0.130458
4    0.051586
5    0.117719
6    0.859798
7    0.972100
8    0.652094
9    0.400160
dtype: float64

In [32]:
s[0:3]

0    0.413455
1    0.369293
2    0.159426
dtype: float64

In [34]:
s[-1:]

9    0.40016
dtype: float64

In [36]:
s[:-2]

0    0.413455
1    0.369293
2    0.159426
3    0.130458
4    0.051586
5    0.117719
6    0.859798
7    0.972100
dtype: float64

In [38]:
s[:-1]

0    0.413455
1    0.369293
2    0.159426
3    0.130458
4    0.051586
5    0.117719
6    0.859798
7    0.972100
8    0.652094
dtype: float64

In [40]:
s[-2:]

8    0.652094
9    0.400160
dtype: float64

In [42]:
s[-1:]

9    0.40016
dtype: float64

In [44]:
s[-3:-1:]

7    0.972100
8    0.652094
dtype: float64

In [46]:
#append

In [48]:
s2 = s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [50]:
s3

a1    10
b1    20
c1    40
dtype: int64

In [52]:
s4 = s2.append(s3)
s4

AttributeError: 'Series' object has no attribute 'append'

In [55]:
###operations on Series

In [57]:
 v1 = np.array([10,20,30])
 v2 = np.array([1,2,3])
 s1 = pd.Series(v1)
 s2 = pd.Series(v2)
 s1, s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [59]:
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [61]:
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [63]:
s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [65]:
s1.add(9)

0    19
1    29
2    39
dtype: int32

In [67]:
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [69]:
s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [71]:
s1.mul(1000)

0    10000
1    20000
2    30000
dtype: int32

In [73]:
s1.divide(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [75]:
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [77]:
s1.max()

30

In [79]:
s1.min()

10

In [81]:
s1.mean()

20.0

In [83]:
s1.median()

20.0

In [85]:
s1.std()

10.0

In [87]:
s1.equals(s2)

False

In [89]:
s1.equals(s4)

NameError: name 's4' is not defined

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index = [0,1,2,3,4,5])
s5

In [92]:
##dataframe

In [94]:
df =pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [96]:
lang =['java','python','c','c++']
df = pd.DataFrame(lang)
df

        0
0    java
1  python
2       c
3     c++

In [98]:
rating =[1,2,3,4]
df[1] = rating
df

        0  1
0    java  1
1  python  2
2       c  3
3     c++  4

In [100]:
df.columns =['lang','Rating']

In [102]:
df

     lang  Rating
0    java       1
1  python       2
2       c       3
3     c++       4

In [104]:
 data = [{'a':1, 'b':2}, {'a':5, 'b':10, 'c':20}]
 df2 = pd.DataFrame(data)
 df3 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b'])
 df4 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b','c'])
 df5 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b','c','d'])

In [106]:
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [108]:
df3

      a   b
row1  1   2
row2  5  10

In [110]:
df4

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [112]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [114]:
l1 = pd.DataFrame({'ID' :[1,2,3,4], 'Name' :['Aryan','Nayan','John','Rose']})
l1

   ID   Name
0   1  Aryan
1   2  Nayan
2   3   John
3   4   Rose

In [116]:
dict ={'A': pd.Series([1,2,3], index =['a','b','c']),
       'B': pd.Series([1,2,3,4], index =['a','b','c','d'])}
df1 = pd.DataFrame(dict)
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [118]:
 dates = pd.date_range(start='2020-01-20', end='2020-01-26')
 dates

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [120]:
dates = pd.date_range('today',periods= 5)
dates

DatetimeIndex(['2024-11-27 10:01:56.426491', '2024-11-28 10:01:56.426491',
               '2024-11-29 10:01:56.426491', '2024-11-30 10:01:56.426491',
               '2024-12-01 10:01:56.426491'],
              dtype='datetime64[ns]', freq='D')

In [122]:
M = np.random.random((5,7))
M

array([[0.90278747, 0.5039485 , 0.37880351, 0.31396613, 0.49939102,
        0.71735797, 0.21657868],
       [0.06001909, 0.28669605, 0.2899123 , 0.01648945, 0.47593275,
        0.9320801 , 0.53578259],
       [0.33116134, 0.88046025, 0.3556165 , 0.16676426, 0.96404404,
        0.31577449, 0.92743415],
       [0.23211626, 0.03264082, 0.64865572, 0.03881343, 0.804549  ,
        0.4373846 , 0.20946235],
       [0.04090012, 0.23739791, 0.01603334, 0.48065898, 0.87475787,
        0.51403638, 0.10777715]])

In [124]:
dframe= pd.DataFrame(M, index= dates)
dframe

,0,1,2,3,4,5,6
2024-11-27 10:01:56.426491,0.902787,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,0.331161,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,0.232116,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,0.040900,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [126]:
dframe.columns =['p','d','f','r','i','g','h']
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,0.902787,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,0.331161,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,0.232116,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,0.040900,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [128]:
dframe.index

DatetimeIndex(['2024-11-27 10:01:56.426491', '2024-11-28 10:01:56.426491',
               '2024-11-29 10:01:56.426491', '2024-11-30 10:01:56.426491',
               '2024-12-01 10:01:56.426491'],
              dtype='datetime64[ns]', freq='D')

In [130]:
dframe.dtypes

p    float64
d    float64
f    float64
r    float64
i    float64
g    float64
h    float64
dtype: object

In [132]:
dframe.sort_values(by='p', ascending=False)

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,0.902787,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-29 10:01:56.426491,0.331161,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,0.232116,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-12-01 10:01:56.426491,0.040900,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [134]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [136]:
del df1['B']

In [138]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [140]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [142]:
df5.pop('c')

row1     NaN
row2    20.0
Name: c, dtype: float64

In [144]:
df5

      a   b   d
row1  1   2 NaN
row2  5  10 NaN

In [146]:
### Data selection in Dataframe

In [148]:
df

     lang  Rating
0    java       1
1  python       2
2       c       3
3     c++       4

In [150]:
df.index =[1,2,3,4]
df

     lang  Rating
1    java       1
2  python       2
3       c       3
4     c++       4

In [152]:
df.loc[1]

lang      java
Rating       1
Name: 1, dtype: object

In [154]:
df.iloc[1]

lang      python
Rating         2
Name: 2, dtype: object

In [156]:
df.iloc[1:2]

     lang  Rating
2  python       2

In [158]:
df.loc[1:2]

     lang  Rating
1    java       1
2  python       2

In [160]:
df.loc[df.Rating>2]

  lang  Rating
3    c       3
4  c++       4

In [162]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [164]:
df1.loc['a']

A    1.0
Name: a, dtype: float64

In [166]:
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,0.902787,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,0.331161,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,0.232116,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,0.040900,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [168]:
dframe.loc['2024-11-26':'2024-11-28']

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,0.902787,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783

In [170]:
dframe.loc['2024-11-26':'2024-11-28',['r','g']]

                                   r         g
2024-11-27 10:01:56.426491  0.313966  0.717358
2024-11-28 10:01:56.426491  0.016489  0.932080

In [172]:
dframe[dframe['h']>0.5]

,p,d,f,r,i,g,h
2024-11-28 10:01:56.426491,0.060019,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,0.331161,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434

In [174]:
dframe[(dframe['h']>0.5) & (dframe['f']>0.5)]

Empty DataFrame
Columns: [p, d, f, r, i, g, h]
Index: []

In [176]:
dframe.iloc[0]

p    0.902787
d    0.503948
f    0.378804
r    0.313966
i    0.499391
g    0.717358
h    0.216579
Name: 2024-11-27 10:01:56.426491, dtype: float64

In [178]:
dframe.iloc[0][0]

C:\Users\YESHWANTH\AppData\Local\Temp\ipykernel_10732\1918434869.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dframe.iloc[0][0]

0.9027874674760037

In [180]:
dframe.iloc[0][0]==10

C:\Users\YESHWANTH\AppData\Local\Temp\ipykernel_10732\1773029031.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dframe.iloc[0][0]==10

False

In [182]:
 # Display all rows where p has value of 10 or 20
 dframe[dframe['p'].isin([10,20])]

Empty DataFrame
Columns: [p, d, f, r, i, g, h]
Index: []

-->set value

In [184]:
 # Set value of 888 for all elements in column 'p'
dframe['p'] = 888
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [186]:
dframe.iloc[0:4,'f'] = 333
dframe

TypeError: Cannot index by location index with a non-integer key

In [ ]:
dframe.iloc[0]= 555
dframe

In [189]:
 # Create Copy of the calling objects data along with indices.
 # Modifications to the data or indices of the copy will not be reflected in the
 dframe1 = dframe.copy(deep=True)

In [191]:
dframe1 [(dframe1['p']>0.5) &(dframe1['g']>0.5)] =0

In [193]:
dframe1[dframe1 ['p'] ==0]

                            p    d    f    r    i    g    h
2024-11-27 10:01:56.426491  0  0.0  0.0  0.0  0.0  0.0  0.0
2024-11-28 10:01:56.426491  0  0.0  0.0  0.0  0.0  0.0  0.0
2024-12-01 10:01:56.426491  0  0.0  0.0  0.0  0.0  0.0  0.0

In [195]:
 # Replace zeros in Column C1 with 99
 dframe1[dframe1['p'].isin([0])]=99
 dframe1

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2024-11-28 10:01:56.426491,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [197]:
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [199]:
 # Display all rows where value of C1 is 99
 dframe1[dframe1['p']==99]

                             p     d     f     r     i     g     h
2024-11-27 10:01:56.426491  99  99.0  99.0  99.0  99.0  99.0  99.0
2024-11-28 10:01:56.426491  99  99.0  99.0  99.0  99.0  99.0  99.0
2024-12-01 10:01:56.426491  99  99.0  99.0  99.0  99.0  99.0  99.0

In [201]:
 # Display all rows where value of C1 is 99
 dframe1[dframe1['p']==888]

,p,d,f,r,i,g,h
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462

#dealing with null values

In [204]:
dframe.loc[0:8, 'p']= np.NaN
dframe.loc[0:2, 'f']= np.NaN
dframe.loc[5:6, 'd']= np.NaN
dframe

TypeError: Slicing a positional slice with .loc is not allowed, Use .loc with labels or .iloc with positions instead.

In [ ]:
dframe

In [ ]:
dframe.notna()

In [ ]:
dframe.isna()

In [209]:
dframe= dframe.fillna(1020)
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [211]:
dframe.at[0:5 , 'f'] = np.NaN
dframe.at[0:2 , 'r'] = np.NaN
dframe.at[5:6 , 'g'] = np.NaN
dframe

InvalidIndexError: You can only assign a scalar value not a <class 'float'>

In [ ]:
 #Replace Null values in Column 'i' with number 123
 # Replace Null values in Column 'g' with number 789
 dframe.fillna(value={'i':123, 'g':789})

In [ ]:
#Replace first NULL value in Column h with 789
dframe.fillna(value={'h':789}, limit=1)

In [215]:
# Drop Rows with NULL values
dframe.dropna(axis='columns')

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [217]:
dframe.dropna(subset=['g' ,'h'])

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

##Descriptive statistics

In [219]:
 # Fill NULL values with 55
 dframe.fillna(55, inplace=True)
 dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [221]:
# Mean of all Columns
dframe.mean()

p    888.000000
d      0.388229
f      0.337804
r      0.203338
i      0.723735
g      0.583327
h      0.399407
dtype: float64

In [223]:
# Max of all Columns
dframe.max()

p    888.000000
d      0.880460
f      0.648656
r      0.480659
i      0.964044
g      0.932080
h      0.927434
dtype: float64

In [225]:
# Min of all Columns
dframe.min()

p    888.000000
d      0.032641
f      0.016033
r      0.016489
i      0.475933
g      0.315774
h      0.107777
dtype: float64

In [227]:
# Median of all Columns
dframe.median()

p    888.000000
d      0.286696
f      0.355617
r      0.166764
i      0.804549
g      0.514036
h      0.216579
dtype: float64

In [229]:
dframe.std()

p    0.000000
d    0.322174
f    0.226085
r    0.195233
i    0.222948
g    0.243556
h    0.336141
dtype: float64

In [231]:
dframe.var()

p    0.000000
d    0.103796
f    0.051114
r    0.038116
i    0.049706
g    0.059319
h    0.112991
dtype: float64

In [233]:
dframe.quantile(0.25)

p    888.000000
d      0.237398
f      0.289912
r      0.038813
i      0.499391
g      0.437385
h      0.209462
Name: 0.25, dtype: float64

In [235]:
dframe.quantile(0.5)

p    888.000000
d      0.286696
f      0.355617
r      0.166764
i      0.804549
g      0.514036
h      0.216579
Name: 0.5, dtype: float64

In [237]:
dframe.quantile(0.75)-dframe.quantile(0.25)

p    0.000000
d    0.266551
f    0.088891
r    0.275153
i    0.375367
g    0.279973
h    0.326320
dtype: float64

In [239]:
dframe.sum()

p    4440.000000
d       1.941144
f       1.689021
r       1.016692
i       3.618675
g       2.916634
h       1.997035
dtype: float64

In [241]:
dframe.describe()

           p         d         f         r         i         g         h
count    5.0  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   888.0  0.388229  0.337804  0.203338  0.723735  0.583327  0.399407
std      0.0  0.322174  0.226085  0.195233  0.222948  0.243556  0.336141
min    888.0  0.032641  0.016033  0.016489  0.475933  0.315774  0.107777
25%    888.0  0.237398  0.289912  0.038813  0.499391  0.437385  0.209462
50%    888.0  0.286696  0.355617  0.166764  0.804549  0.514036  0.216579
75%    888.0  0.503948  0.378804  0.313966  0.874758  0.717358  0.535783
max    888.0  0.880460  0.648656  0.480659  0.964044  0.932080  0.927434

In [243]:
dframe.skew()

p    0.000000
d    0.889315
f   -0.119459
r    0.652645
i   -0.325533
g    0.641187
h    1.228579
dtype: float64

In [245]:
dframe.kurt()

p    0.000000
d    0.759378
f    1.599909
r   -1.101556
i   -2.838674
g   -0.640481
h    0.589994
dtype: float64

In [247]:
dframe.corr()

    p         d         f         r         i         g         h
p NaN       NaN       NaN       NaN       NaN       NaN       NaN
d NaN  1.000000 -0.149740  0.121006  0.229615 -0.284357  0.776660
f NaN -0.149740  1.000000 -0.722395 -0.081953 -0.177264  0.099254
r NaN  0.121006 -0.722395  1.000000  0.237093 -0.187989 -0.436733
i NaN  0.229615 -0.081953  0.237093  1.000000 -0.934823  0.249256
g NaN -0.284357 -0.177264 -0.187989 -0.934823  1.000000 -0.214641
h NaN  0.776660  0.099254 -0.436733  0.249256 -0.214641  1.000000

In [249]:
dframe.cov()

     p         d         f         r         i         g         h
p  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
d  0.0  0.103796 -0.010907  0.007611  0.016493 -0.022313  0.084109
f  0.0 -0.010907  0.051114 -0.031886 -0.004131 -0.009761  0.007543
r  0.0  0.007611 -0.031886  0.038116  0.010320 -0.008939 -0.028661
i  0.0  0.016493 -0.004131  0.010320  0.049706 -0.050761  0.018680
g  0.0 -0.022313 -0.009761 -0.008939 -0.050761  0.059319 -0.017573
h  0.0  0.084109  0.007543 -0.028661  0.018680 -0.017573  0.112991

In [251]:
 import statistics as st
 dframe.at[3:6,'p'] = 22
 dframe

InvalidIndexError: You can only assign a scalar value not a <class 'int'>

In [253]:
#Average
st.mean(dframe['g'])
# dframe['C1'].mean()

0.5833267073020422

In [255]:
st.harmonic_mean(dframe['g'])

0.50682206837566

In [257]:
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

4.5

In [259]:
st.median_low(arr)

4

In [261]:
st.median_high(arr)

5

In [263]:
st.mode(dframe['i'])

0.49939101909417516

In [265]:
st.variance(dframe['r']) #sample varience

0.03811596618247293

In [267]:
st.pvariance(dframe['r']) ##population varience

0.030492772945978346

In [269]:
st.stdev(dframe['r']) ##sample standard Deviation

0.19523310729093293

In [271]:
st.pstdev(dframe['r']) ##population standard Deviation

0.17462179974441433

In [273]:
###Apply function on Dataframe

In [275]:
dframe

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [277]:
# Finding MAX value in Columns
dframe.apply(max)

p    888.000000
d      0.880460
f      0.648656
r      0.480659
i      0.964044
g      0.932080
h      0.927434
dtype: float64

In [279]:
# Finding Min value in Columns
dframe.apply(min)

p    888.000000
d      0.032641
f      0.016033
r      0.016489
i      0.475933
g      0.315774
h      0.107777
dtype: float64

In [281]:
# Finding sum value in Columns
dframe.apply(sum)

p    4440.000000
d       1.941144
f       1.689021
r       1.016692
i       3.618675
g       2.916634
h       1.997035
dtype: float64

In [283]:
# Finding sum value in Columns
dframe.apply(np.sum)

p    4440.000000
d       1.941144
f       1.689021
r       1.016692
i       3.618675
g       2.916634
h       1.997035
dtype: float64

In [285]:
# Finding sum value in Columns
dframe.apply(np.sum, axis=1)

2024-11-27 10:01:56.426491    890.630046
2024-11-28 10:01:56.426491    890.536893
2024-11-29 10:01:56.426491    891.610094
2024-11-30 10:01:56.426491    890.171506
2024-12-01 10:01:56.426491    890.230662
Freq: D, dtype: float64

In [287]:
## Square root of all values in dataframe
dframe.applymap(np.sqrt)

C:\Users\YESHWANTH\AppData\Local\Temp\ipykernel_10732\831095605.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dframe.applymap(np.sqrt)

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,29.799329,0.709893,0.615470,0.560327,0.706676,0.846970,0.465380
2024-11-28 10:01:56.426491,29.799329,0.535440,0.538435,0.128411,0.689879,0.965443,0.731972
2024-11-29 10:01:56.426491,29.799329,0.938328,0.596336,0.408368,0.981857,0.561938,0.963034
2024-11-30 10:01:56.426491,29.799329,0.180668,0.805392,0.197011,0.896967,0.661351,0.457671
2024-12-01 10:01:56.426491,29.799329,0.487235,0.126623,0.693296,0.935285,0.716963,0.328294

In [289]:
## Square root of all values in dataframe
dframe.applymap(math.sqrt)

C:\Users\YESHWANTH\AppData\Local\Temp\ipykernel_10732\2116344197.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dframe.applymap(math.sqrt)

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,29.799329,0.709893,0.615470,0.560327,0.706676,0.846970,0.465380
2024-11-28 10:01:56.426491,29.799329,0.535440,0.538435,0.128411,0.689879,0.965443,0.731972
2024-11-29 10:01:56.426491,29.799329,0.938328,0.596336,0.408368,0.981857,0.561938,0.963034
2024-11-30 10:01:56.426491,29.799329,0.180668,0.805392,0.197011,0.896967,0.661351,0.457671
2024-12-01 10:01:56.426491,29.799329,0.487235,0.126623,0.693296,0.935285,0.716963,0.328294

In [291]:
dframe.applymap(float)

C:\Users\YESHWANTH\AppData\Local\Temp\ipykernel_10732\4228414899.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dframe.applymap(float)

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,888.0,0.503948,0.378804,0.313966,0.499391,0.717358,0.216579
2024-11-28 10:01:56.426491,888.0,0.286696,0.289912,0.016489,0.475933,0.932080,0.535783
2024-11-29 10:01:56.426491,888.0,0.880460,0.355617,0.166764,0.964044,0.315774,0.927434
2024-11-30 10:01:56.426491,888.0,0.032641,0.648656,0.038813,0.804549,0.437385,0.209462
2024-12-01 10:01:56.426491,888.0,0.237398,0.016033,0.480659,0.874758,0.514036,0.107777

In [293]:
# Using Lambda function in Dataframes for find min value
dframe.apply(lambda x: min(x))

p    888.000000
d      0.032641
f      0.016033
r      0.016489
i      0.475933
g      0.315774
h      0.107777
dtype: float64

In [295]:
# Using Lambda function in Dataframes for find min value
dframe.apply(lambda x: x*x)

,p,d,f,r,i,g,h
2024-11-27 10:01:56.426491,788544,0.253964,0.143492,0.098575,0.249391,0.514602,0.046906
2024-11-28 10:01:56.426491,788544,0.082195,0.084049,0.000272,0.226512,0.868773,0.287063
2024-11-29 10:01:56.426491,788544,0.775210,0.126463,0.027810,0.929381,0.099714,0.860134
2024-11-30 10:01:56.426491,788544,0.001065,0.420754,0.001506,0.647299,0.191305,0.043874
2024-12-01 10:01:56.426491,788544,0.056358,0.000257,0.231033,0.765201,0.264233,0.011616

In [297]:
##merge Dataframes

In [299]:
daf1= pd.DataFrame({'Id':['1','2','3','4'], 'Name':['Daksha','Bunny','sunny','Abhi']})
daf1

  Id    Name
0  1  Daksha
1  2   Bunny
2  3   sunny
3  4    Abhi

In [301]:
daf2 = pd.DataFrame({'Id':['1','2','6','7','8'], 'Score':[40, 60, 80, 90, 70]})
daf2

  Id  Score
0  1     40
1  2     60
2  6     80
3  7     90
4  8     70

In [303]:
# Inner Join
pd.merge(daf1,daf2, on = 'Id',how ='inner')

  Id    Name  Score
0  1  Daksha     40
1  2   Bunny     60

In [305]:
# Full Outer Join
pd.merge(daf1,daf2, on= 'Id', how = 'outer')

  Id    Name  Score
0  1  Daksha   40.0
1  2   Bunny   60.0
2  3   sunny    NaN
3  4    Abhi    NaN
4  6     NaN   80.0
5  7     NaN   90.0
6  8     NaN   70.0

In [307]:
# left Outer Join
pd.merge(daf1,daf2, on= 'Id', how = 'left')

  Id    Name  Score
0  1  Daksha   40.0
1  2   Bunny   60.0
2  3   sunny    NaN
3  4    Abhi    NaN

In [309]:
# right Outer Join
pd.merge(daf1,daf2, on= 'Id', how = 'right')

  Id    Name  Score
0  1  Daksha     40
1  2   Bunny     60
2  6     NaN     80
3  7     NaN     90
4  8     NaN     70

In [311]:
### Importing multiple CSV files in DataFrame